/* picker */
.picker-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  width: 300px;
  height: 250px;
}

.picker-container,
.picker-container *,
.picker-container *:before,
.picker-container *:after {
  box-sizing: border-box;
}

.picker-container .picker-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 1.2em;
  -webkit-mask-box-image: linear-gradient(to top, transparent, transparent 5%, #ffffff 20%, #ffffff 80%, transparent 95%, transparent);
  flex: 1 1;
  max-height: 100%;
  overflow: hidden;
  text-align: center;
}

.picker-container .picker-wrapper .picker-scroller {
  transition: 300ms;
  transition-timing-function: ease-out;
}

.picker-container .picker-wrapper .picker-scroller .picker-item {
  position: relative;
  padding: 0 10px;
  white-space: nowrap;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 38px;
}

.picker-container .picker-wrapper .picker-scroller .picker-item.selected {
  color: red;
}